<div class="row">
	<div class="span4">
		<form ng-submit="add()">
			<label>Duration</label>
			<input ng-model="time" type="number" step="any" class="input-xlarge input-block-level">
			<label>Task</label>
			<input ng-model="task" type="text" class="input-xlarge input-block-level">
			<input type="submit" class="btn" value="Add">
		</form>
	</div>
	<div class="span8">
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="100">Duration</th>
					<th>Task</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="log in logs | backwards">
					<td><span class="badge">{{log.time}}</span></td>
					<td>{{log.task}}</td>
					<td><a href="#" class="pull-right delete"><i class="icon-remove"></i></td>
				</tr>
			</tbody>
		</table>
		<table class="table">
			<thead>
				<tr>
					<th width="100">Total</th>
					<th>Remaining</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span class="badge">{{total}}</span></td>
					<td><span class="badge">{{remaining}}</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>